<%- include("./partials/head.ejs") %> 
<%- include("./partials/links.ejs") %> 

<body class="dark">
    
    <div class="dark:bg-gray-900 dark:text-white">
        
        <!-- Include Navbar Section -->
        <%- include("../sections/1-navbar.ejs") %>
        
        <!-- Include Hero Section -->
        <%- include("../sections/2-hero.ejs") %>
        
        <!-- Include About-Us Section -->
        <%- include("../sections/3-about-us.ejs") %>
        
        <!-- Include Departments Section -->
        <%- include("../sections/4-departments.ejs") %>
        
        <!-- Include Events Section -->
        <%- include("../sections/5-events.ejs") %>
        
        <!-- Include Contact Form Section -->
        <%- include("../sections/6-contact.ejs") %>
        
        <!-- Include Footer Section -->
        <%- include("../sections/footer.ejs") %>
        <!-- This is a change in home.ejs file -->
        <!-- This is a change number 2 in home.ejs file -->
        
    </div>
    
    <%- include("./partials/scripts.ejs") %>
</body >

</html >