<%- include("./partials/head.ejs") %> 
<%- include("./partials/links.ejs") %> 

<body class="dark font-mont">
    
    <div class="dark:bg-gray-900 dark:text-white">
        
        <!-- Include Navbar Section -->
        <%- include("../sections/1-navbar.ejs") %>
        
        <!-- Include Hero Section -->
        <%- include("../sections/2-hero.ejs") %>
        
        <!-- Include About-Us Section -->
        <%- include("../sections/3-about-us.ejs") %>
        
        <!-- Include Departments Section -->
        <%- include("../sections/4-departments.ejs") %>
        
        <!-- Include Events Section -->
        <%- include("../sections/5-events.ejs") %>
        
        <!-- Include Newsletter Section -->
        <%- include("../sections/6-newsletter.ejs") %>

        <!-- Include Contact Form Section -->
        <%- include("../sections/7-contact.ejs") %>
        
        <!-- Include Footer Section -->
        <%- include("../sections/footer.ejs") %> 
        
    </div>
    
    <%- include("./partials/scripts.ejs") %>
    <%- include("./partials/toggle-script.ejs") %>
    <script>
        function convertFD2JSON(formData) {
                let obj = {};
                for (let key of formData.keys()) {
                    obj[key] = formData.get(key);
                }
                return obj;
            }
            document.querySelector("form").addEventListener("submit", handleForm);
            function handleForm(ev) {
                ev.preventDefault();
                let myForm = ev.target;
                fetch("/", {
                    body: JSON.stringify(convertFD2JSON(new FormData(myForm))),
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    }
                }).then((some) => { return some.json() })
                .then(async (res) => {
                    const data = res;
                    document.querySelector("#contact-notify").classList.remove("hidden");
                    document.querySelector("#contact-notify").classList.add("text-green-700");
                    document.querySelector("#contact-notify").innerText = data.message;
                })
                .catch((err) => {
                    document.querySelector("#contact-notify").classList.remove("hidden");
                    document.querySelector("#contact-notify").classList.add("text-red-700");
                    document.querySelector("#contact-notify").innerText = err.message;
                })
            }
            function delay () {
                setInterval(() => {
                    document.querySelector("#contact-notify").classList.add("hidden");
                }, 5000);
            }
            delay();
    </script>
</body >

</html >