<div class="mx-4">
  <% if (title.length > "Dashboard | Contact Message".length && title.substring(0, "Dashboard | Contact Message".length) === "Dashboard | Contact Message") { %> 
  <!-- Contact Messages -->
  <div class="md:p-8 p-2 dark:bg-gray-700 bg-white">
    <!--Tag-->
    <p class="text-blue-300 font-semibold text-base mt-2">Contact Message</p>
    <!--Title-->
    <a href="mailto:<%= contactMessage.email %>"
      class="font-semibold text-gray-900 leading-none truncate dark:text-gray-300 text-xl mt-1"
    >
      <%= contactMessage.email %>
    </a>
    <!--Description-->
    <div class="max-w-full">
      <p class="text-base dark:text-gray-50 font-medium tracking-wide text-gray-600 mt-1">
        <%= contactMessage.message %> 
      </p>
    </div>
    <div class="flex items-center space-x-2 mt-20">
      <div>
        <!--Author name-->
        <p class="text-gray-900 font-semibold dark:text-white"><%= contactMessage.name %> </p>
        <p class="text-gray-500 dark:text-gray-300 font-semibold text-sm">
          <%= moment(contactMessage.createdAt).format("MMMM Do YYYY") %> 
        </p>
        <p class="text-gray-500 font-semibold text-sm dark:text-gray-400">
          <%= moment(contactMessage.createdAt).fromNow() %>
        </p>
      </div>
    </div>
  </div>
  <% } else if (title.length > "Dashboard | Internship Applications".length && title.substring(0, "Dashboard | Internship Applications".length) === "Dashboard | Internship Applications") { %> 
  <!-- Internship Application -->
  <div class="md:p-8 p-2 dark:bg-gray-700 bg-white overflow-scroll">
    <!--Tag-->
    <p class="text-indigo-500 font-semibold text-base mt-2">Internship Application</p>
    <!--Title-->
    <a href="mailto:<%= internshipMessage.email %>"
      class="font-semibold text-gray-900 leading-none text-xl mt-1 dark:text-white"
    >
      <%= internshipMessage.email %>
    </a>
    <!--Description-->
    <div class="max-w-full">
      <p class="text-base font-medium tracking-wide text-gray-600 mt-1 dark:text-gray-200">
        <%= internshipMessage.description %> 
      </p>
    </div>
    <div class="flex items-center space-x-2 mt-20">
      <div>
        <!--Author name-->
        <p class="text-gray-900 font-semibold dark:text-white"><%= internshipMessage.name %> </p>
        <p class="text-gray-500 font-semibold text-sm dark:text-gray-300">
          <%= moment(internshipMessage.createdAt).format("MMMM Do YYYY") %> 
        </p>
        <p class="text-gray-500 font-semibold text-sm dark:text-gray-300">
          <%= moment(internshipMessage.createdAt).fromNow() %> 
        </p>
      </div>
    </div>
  </div>
  <% } else if (title === "Dashboard | Contact Messages") { %>
    <div class="relative flex flex-col min-w-0 break-words bg-gray-50 dark:bg-gray-800 mx-4 shadow-lg rounded">
      <div class="rounded-t mb-0 px-0 border-0">
    <% for (const contactMessage of contactMessages) { %>
      <li class="flex px-4">
        <div class="w-9 h-9 rounded-full flex-shrink-0 bg-indigo-500 my-2 mr-3">
          <svg class="w-9 h-9 fill-current text-indigo-50" viewBox="0 0 36 36">
            <path
              d="M18 10c-4.4 0-8 3.1-8 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L18.9 22H18c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z">
            </path>
          </svg>
        </div>
        <div
          class="flex-grow flex items-center border-b border-gray-100 dark:border-gray-400 text-sm text-gray-600 dark:text-gray-100 py-2">
          <div class="flex-grow flex justify-between items-center">
            <div class="self-center">
              <span class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-50 dark:hover:text-gray-100"
                style="outline: none;">
                <%= contactMessage.name %>
              </span> contacted you by <a class="font-medium text-gray-800 dark:text-gray-50 dark:hover:text-gray-100"
                href="mailto:<%= contactMessage.email %>" style="outline: none;"><%= contactMessage.email %></a>            </div>
            <div class="flex-shrink-0 ml-2">
              <a class="flex items-center font-medium text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500"
                href="/dashboard/messages/contact/<%= contactMessage.id %>" style="outline: none;">
                View<span><svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    class="transform transition-transform duration-500 ease-in-out">
                    <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"></path>
                  </svg></span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    <% } else if (title === "Dashboard | Internship Applications") { %>
      <% for (const internshipMessage of internshipMessages) { %>
        <li class="flex px-4">
          <div class="w-9 h-9 rounded-full flex-shrink-0 bg-green-500 my-2 mr-3">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users"
              class="svg-inline--fa fa-users fa-w-20 text-white p-2" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512">
              <path fill="currentColor"
                d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
              </path>
            </svg>
          </div>
          <div class="flex-grow flex items-center border-gray-100 text-sm text-gray-600 dark:text-gray-50 py-2">
            <div class="flex-grow flex justify-between items-center">
              <div class="self-center">
                <span class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-50 dark:hover:text-gray-100"
                  style="outline: none;">
                  <%= internshipMessage.name %>
                </span> has filled the internship application by <a
                  class="font-medium text-gray-800 dark:text-gray-50 dark:hover:text-gray-100" href="mailto:<%= internshipMessage.email %>"
                  style="outline: none;"><%= internshipMessage.email %></a>
              </div>
              <div class="flex-shrink-0 ml-2">
                <a class="flex items-center font-medium text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500"
                  href="/dashboard/messages/internship/<%= internshipMessage.id %>" style="outline: none;">
                  View<span><svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                      class="transform transition-transform duration-500 ease-in-out">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg></span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <% } %>
    <% } else if (title === "Dashboard | Magazine Subscribers") { %>
      <% for (const magSub of magazineSubs) { %>
        <li class="flex px-4">
          <div class="w-9 h-9 rounded-full flex-shrink-0 bg-green-500 my-2 mr-3">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users"
              class="svg-inline--fa fa-users fa-w-20 text-white p-2" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512">
              <path fill="currentColor"
                d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
              </path>
            </svg>
          </div>
          <div class="flex-grow flex items-center border-gray-100 text-sm text-gray-600 dark:text-gray-50 py-2">
            <div class="flex-grow flex justify-between items-center">
              <div class="self-center">
                <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-50 dark:hover:text-gray-100"
                  href="#0" style="outline: none;">
                  <%= magSub.name %>
                </a> has filled the internship application<a
                  class="font-medium text-gray-800 dark:text-gray-50 dark:hover:text-gray-100" href="#0"
                  style="outline: none;"> by <%= magSub.email %></a>
              </div>
              <div class="flex-shrink-0 ml-2">
                <a class="flex items-center font-medium text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500"
                  href="/dashboard/messages/internship/<%= magSub.id %>" style="outline: none;">
                  View<span><svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                      class="transform transition-transform duration-500 ease-in-out">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg></span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <% } %>
      </div>
    </div>
  <% } %> 
</div>
