<div class="mt-4 mx-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <% if(title === "Dashboard | Board" ) { %>
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Members</th>
              <th class="px-8 py-3">Status</th>
              <th class="px-4 py-3">Role</th>
              <% if (staff.role !== "member") { %>
              <th class="px-4 py-3">Email</th>
              <% } %>
              <th class="px-4 py-3">Department</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <% for(const member of staffData) { %>
              <tr
                class="bg-gray-50 dark:bg-gray-800 duration-200 hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div class="relative hidden w-8 h-8 dark:bg-white bg-gray-800 mr-3 rounded-full md:block">
                      <img class="object-cover w-8 h-8 rounded-full" src="<%= member.profile_pic_url %>" alt=""
                        loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                      </div>
                    </div>
                    <div>
                      <p class="font-semibold w-24 truncate">
                        <%= member.fullname %>
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        <%= member.designation %>
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-xs">
                  <span
                    class="px-2 py-1 font-semibold leading-tight <%= member.accActive ? "bg-green-700" : "bg-red-700" %>  rounded-full text-white">
                    <%= member.accActive ? "Active" : "Not Active" %>
                  </span>
                </td>
                <td class="px-4 py-3 text-sm capitalize">
                  <%= member.role %>
                </td>
                <% if (staff.role !== "member") { %>
                <td class="px-4 py-3 text-sm">
                  <%= member.email %>
                </td>
                <% } %>
                <td class="px-4 py-3 text-sm">
                  <%= member.department[0].name %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    <% } else if (title === "Dashboard | Events" ) { %>
      <% if (events.length > 0) { %> 
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Event Name</th>
                <th class="px-4 py-3 text-center">Category</th>
                <th class="px-4 py-3">Event Start</th>
                <th class="px-4 py-3">Event End</th>
                <th class="px-4 py-3">Organizers</th>
                <th class="px-10 py-3">Participants</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
              <% for(const event of events) { %>
              <tr
                class="bg-gray-50 dark:bg-gray-800 duration-200  hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <a href="/events/<%= event.name %>" target="blank">
                      <div>
                        <p class="font-semibold w-36 truncate">
                          <%= event.name %>
                        </p>
                        <p class="text-xs text-gray-600 dark:text-gray-400">
                          <span class="font-bold">Reg. Starts</span> - <%= moment(event.registration_starts).format("MMMM Do YYYY") %>
                        </p>
                      </div>
                    </a>
                    <% if (staff.role !== "member") { %> 
                    <a class="bg-yellow-500 rounded ml-5 hover:bg-yellow-300 duration-200 px-2 py-1" href="/dashboard/events/<%= event.id %>/edit"><i class="text-black fas fa-wrench"></i></a>
                    <% } %> 
                  </div>
                </td>
                <td class="px-4 py-3 text-xs">
                  <span
                    class="px-2 py-1 capitalize font-semibold leading-tight <%= event.category === "archived" ? "bg-gray-600 text-gray-50 dark:bg-gray-700 dark:text-gray-100" : "" %> <%= event.category === "live" ? "bg-red-500 text-gray-50 dark:bg-red-700 dark:text-red-100" : "" %> <%= event.category === "ongoing" ? "bg-green-500 text-white dark:bg-green-700 dark:text-green-100" : "" %> <%= event.category === "upcoming" ? "bg-blue-500 text-white dark:bg-blue-700 dark:text-blue-100" : "" %>  rounded-full "> 
                    <%= event.category %> 
                  </span>
                </td>
                <td class="px-4 py-3 text-sm capitalize">
                  <%= moment(event.event_starts).format("MMMM Do YYYY") %>
                </td>
                <td class="px-4 py-3 text-sm">
                  <%= moment(event.event_ends).format("MMMM Do YYYY") %>
                </td>
                <td class="px-4 py-3 capitalize text-sm">
                  <% for (let i=0; i<event.organizers.length; i++) { %>
                      <%= event.organizers[i].name %><% if(i < 2) { %>, 
                      <% } %>
                      <% if (i > 3) { break } %> 
                  <% } %> 
                </td>
                <td class="px-4 text-center font-bold dark:text-gray-200 py-3 text-sm">
                  <a class="bg-indigo-600 hover:bg-indigo-900 text-center text-white p-2 rounded" href="/dashboard/events/<%= event.name %>/participants">
                    View (<%= event.participants.length %>)
                  </a>
                  <% if (staff.role !== "member") { %> 
                    <a class="bg-red-500 rounded ml-5 hover:bg-red-900 duration-200 px-2 py-1" href="/dashboard/events/<%= event.name %>"><i class="text-white far fa-trash-alt"></i></a>
                  <% } %> 
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <div class="flex justify-center items-center">
          <span class="text-2xl bg-indigo-600 p-3 rounded text-white">
            No data available
          </span>
        </div>
      <% } %>
    <% } else if (title.length > "Dashboard | Events".length && title.substring(0, "Dashboard | Events".length) === "Dashboard | Events") { %>
      <% if (event.participants.length > 0) { %> 
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Participant Name</th>
              <% if (staff.role !== "member") { %>
              <th class="px-4 py-3">Email Address</th>
              <% } %>
              <th class="px-4 py-3">College Name</th>
              <th class="px-4 py-3">LinkedIn Profile</th>
              <th class="px-10 py-3">Events</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <% for(const participant of event.participants) { %>
          <tr
            class="bg-gray-50 dark:bg-gray-800 duration-200  hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">                   
                <div class="w-1/2">
                  <p class="font-semibold w-24 truncate">
                    <%= participant.name %>
                  </p>
                </div>
              </div>
            </td>
            <% if (staff.role !== "member") { %>
            <td class="px-4 py-3 text-xs">
              <a href="mailto:<%= participant.email %>"
                class="px-2 py-1 font-semibold leading-tight bg-blue-500 text-white  rounded-full "> 
                <%= participant.email %> 
              </a>
            </td>
            <% } %> 
            <td class="px-4 py-3 text-sm capitalize max-w-xs">
              <p class="w-20 truncate"><%= participant.college_name %></p>
            </td>
            <td class="px-4 py-3 text-sm">
              <% function isValidHttpUrl(string) { let url; try { url = new URL(string); } catch (err) { return false; } return url.protocol === "http:www.linkedin.com/" || url.protocol === "https:www.linkedin.com/"; } %> 
              <a href="<%= isValidHttpUrl(participant.linkedin_account) ? participant.linkedin_account : "javascript:void(0)" %>" target="blank">
                <svg class="fill-current dark:text-white <%= isValidHttpUrl(participant.linkedin_account) ? "text-purple-500 dark:text-purple-300" : "text-red-500 dark:text-red-500" %>" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
              </a>
            </td>
            <td class="px-4 font-bold dark:text-gray-200 py-3 text-sm">
              <a class="bg-indigo-600 text-center text-white p-2 rounded" href="/dashboard/participants/<%= participant.id %>">
                View (<%= participant.registered_events.length %>)
              </a>
            </td>
          </tr>
          <% } %>
          </tbody>
        </table>
      </div>
      <% } else { %>
        <div class="flex justify-center items-center">
          <span class="text-2xl bg-indigo-600 p-3 rounded text-white">
            No data available
          </span>
        </div>
      <% } %> 
    <% } else if (title === "Dashboard | Participants") { %>
      <% if (participants.length > 0) { %> 
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Participant Name</th>
              <% if (staff.role !== "member") { %>
              <th class="px-4 py-3">Email Address</th>
              <% } %> 
              <th class="px-4 py-3">College Name</th>
              <th class="px-4 py-3">LinkedIn Profile</th>
              <th class="px-10 lg:px-4 py-3">Events</th>
            </tr>
          </thead>
          <% for(const participant of participants) { %>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <tr
              class="bg-gray-50 dark:bg-gray-800 duration-200  hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">                   
                  <div>
                    <p class="font-semibold w-30 truncate">
                      <%= participant.name %>
                    </p>
                  </div>
                </div>
              </td>
              <% if (staff.role !== "member") { %>
              <td class="px-4 py-3 text-xs">
                <a href="mailto:<%= participant.email %>"
                  class="px-2 py-1 font-semibold leading-tight bg-blue-500 text-white  rounded-full "> 
                  <%= participant.email %> 
                </a>
              </td>
              <% } %> 
              <td class="px-4 py-3 text-sm capitalize max-w-xs">
                <p class="w-20 truncate"><%= participant.college_name %></p>
              </td>
              <td class="px-4 py-3 text-sm">
                <% function isValidHttpUrl(string) { let url; try { url = new URL(string); } catch (err) { return false; } return url.protocol === "http:" || url.protocol === "https:"; } %> 
                <a href="<%= isValidHttpUrl(participant.linkedin_account) ? participant.linkedin_account : "javascript:void(0)" %>" target="blank">
                  <svg class="fill-current dark:text-white <%= isValidHttpUrl(participant.linkedin_account) ? "text-purple-500 dark:text-purple-300" : "text-red-500 dark:text-red-500" %>" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                  </svg>
                </a>
              </td>
              <td class="px-4 font-bold dark:text-gray-200 py-3 text-sm">
                <a class="bg-indigo-600 text-center text-white w-full p-2 rounded" href="/dashboard/participants/<%= participant.id %>">
                  View (<%= participant.registered_events.length %>)
                </a>
              </td>
            </tr>
          </tbody>
          <% } %>
        </table>
      </div>
      <% } else { %>
        <div class="flex justify-center items-center">
          <span class="text-2xl bg-indigo-600 p-3 rounded text-white">
            No data available
          </span>
        </div>
      <% } %> 
    <% } else if (title.length > "Dashboard | Participants".length && title.substring(0, "Dashboard | Participants".length) === "Dashboard | Participants") { %>
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Event Name</th>
              <th class="px-4 py-3 text-center">Category</th>
              <th class="px-4 py-3">Event Start</th>
              <th class="px-4 py-3">Event End</th>
              <th class="px-4 py-3">Organizers</th>
              <th class="px-10 py-3">Participants</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <% for(const event of participant.registered_events) { %>
            <tr
              class="bg-gray-50 dark:bg-gray-800 duration-200  hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <a href="/events/<%= event.name %>" target="blank">
                    <div>
                      <p class="font-semibold w-36 truncate">
                        <%= event.name %>
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        <span class="font-bold">Reg. Starts</span> - <%= moment(event.registration_starts).format("MMMM Do YYYY") %>
                      </p>
                    </div>
                  </a>
                  <% if (staff.role !== "member") { %> 
                    <a class="bg-yellow-500 rounded ml-5 hover:bg-yellow-300 duration-200 px-2 py-1" href="/dashboard/events/<%= event.id %>/edit"><i class="text-black fas fa-wrench"></i></a>
                  <% } %>
                </div>
              </td>
              <td class="px-4 py-3 text-xs">
                <span
                  class="px-2 py-1 capitalize font-semibold leading-tight <%= event.category === "archived" ? "bg-gray-600 text-gray-50 dark:bg-gray-700 dark:text-gray-100" : "" %> <%= event.category === "live" ? "bg-red-500 text-gray-50 dark:bg-red-700 dark:text-red-100" : "" %> <%= event.category === "ongoing" ? "bg-green-500 text-white dark:bg-green-700 dark:text-green-100" : "" %> <%= event.category === "upcoming" ? "bg-blue-500 text-white dark:bg-blue-700 dark:text-blue-100" : "" %>  rounded-full "> 
                  <%= event.category %> 
                </span>
              </td>
              <td class="px-4 py-3 text-sm capitalize">
                <%= moment(event.event_starts).format("MMMM Do YYYY") %>
              </td>
              <td class="px-4 py-3 text-sm">
                <%= moment(event.event_ends).format("MMMM Do YYYY") %>
              </td>
              <td class="px-4 py-3 capitalize text-sm">
                <% for (let i=0; i<event.organizers.length; i++) { %>
                    <%= event.organizers[i].name %><% if(i < 2) { %>, 
                    <% } %>
                    <% if (i > 3) { break } %> 
                <% } %> 
              </td>
              <td class="px-4 text-center font-bold dark:text-gray-200 py-3 text-sm">
                <a class="bg-indigo-600 text-center text-white p-2 rounded" href="/dashboard/events/<%= event.name %>/participants">
                  View (<%= event.participants.length %>)
                </a>
                <% if (staff.role !== "member") { %> 
                  <a class="bg-red-500 rounded ml-5 hover:bg-red-900 duration-200 px-2 py-1" href="/dashboard/events/<%= event.name %>"><i class="text-white far fa-trash-alt"></i></a>
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="mx-3 my-3 text-white bg-gray-900 rounded p-3 border-2 border-red-700">
        <span class="text-red-500 font-bold">Note: </span> If you are seeing less events than expected, then those remaining events must have been deleted by the Event Management Team Leader(s).
      </div>
    <% } else if (title === "Dashboard | Key Generation") { %>
      <div class="w-full overflow-x-auto">
        <% if (keys.length > 0) { %> 
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Key</th>
              <th class="px-4 py-3">Used</th>
              <th class="px-4 py-3">Created At</th>
              <th class="px-4 py-3">Used At</th>
              <th class="px-10 lg:px-4 py-3">Used By</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <% for(const key of keys) { %>
            <tr
              class="bg-gray-50 dark:bg-gray-800 duration-200  hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">                   
                  <div>
                    <p class="font-semibold select-all"><%= key.key %></p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-xs">
                <span
                  class="px-2 py-1 font-semibold leading-tight <%= key.used ? "bg-red-500" : "bg-green-500" %>  text-white  rounded-full "> 
                  <%= key.used %> 
                </span>
              </td>
              <td class="px-4 py-3 text-sm">
                <%= moment(key.createdAt).format("MMMM Do YYYY") %>
              </td>
              <td class="px-4 py-3 text-sm text-center">
                <%= !key.used ? "----------" : moment(key.updatedAt).format("MMMM Do YYYY") %>
              </td>
              <td class="px-4 text-center py-3 text-sm">
                <%= key.usedBy ? key.usedBy : "----------" %>
              </td>
            </tr>
            <% } %>
            <% } else { %>
              <div class="flex justify-center items-center">
                <span class="text-2xl bg-indigo-600 my-10 p-3 rounded text-white">
                  No data available
                </span>
              </div>
            <% } %> 
          </tbody>
        </table>
      </div>
    <% } %> 
  </div>
</div>