<div class="mt-4 mx-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Members</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3">Department</th>
                        <th class="px-4 py-3">Email</th>
                        <th class="px-4 py-3">Role</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <% for(const member of staffData) { %>
                        <tr
                            class="bg-gray-50 dark:bg-gray-800 duration-200 hover:bg-gray-200 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                            src="<%= member.profile_pic_url %>" alt="" loading="lazy" />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">
                                            <%= member.fullname %>
                                        </p>
                                        <p class="text-xs text-gray-600 dark:text-gray-400">
                                            <%= member.designation %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight  bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                    <%= member.accActive ? "Active" : "Not Active" %>
                                </span>
                            </td>
                            <td class="px-4 py-3 text-sm capitalize">
                                <%= member.role %>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <%= member.email %>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <%= member.department %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>