<!--Event page starts  -->
<div class="my-5 md:mt-32">
  <% if (featured.length > 0 || live.length > 0 || ongoing.length > 0 || upcoming.length > 0 || archived.length > 0) { %> 
  <!--FEATURED EVENTS-->
  <% if (featured.length > 0) { %>
  <div id="feature" class="mt-4">
    <div class="mt-16 flex flex-col justify-center items-center wow fadeIn" data-wow-duration="1s"
      data-wow-delay="0.5s">

      <!-- Heading -->
      <div class="pt-3 mx-4 mt-12 h-auto">
        <div class="section-title text-center">
          <div class="m-auto line"></div>
          <div>
            <h3 class="text-4xl font-bold sm:mt-18">Featured <span class="font-normal"> Events</span></h3>
          </div>
        </div>
      </div>
      <div class="mt-5 mx-5">
        <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1">
          <% for (let i=0; i<featured.length && i<4; i++) { %> 
          <div
            class="p-4 layered-card border-2 border-transparent hover:border-purple-300 bg-white transition ease-in max-w-xl rounded flex justify-start md:flex-row flex-col gap-4">
            <img
              src="<%= featured[i].event_pic %>"
              class="rounded bg-contain justify-center items-center my-auto w-56 h-48" />
            <div class="relative">
            </div>
            <div class="flex flex-col space-y-8">
              <div class="text-black mt-1 top-1 md:m-0">
                <p class="text-2xl text-black leading-snug font-medium">
                  <%= featured[i].name.length > 20 ? featured[i].name.substring(0, 25) + "..." : featured[i].name %> 
                </p>
              </div>
              <div>
                <div class="flex flex-row space-x-3">
                  <img src="https://img.icons8.com/plasticine/50/000000/calendar--v3.png" />
                  <p class="text-lg mt-2 font-medium"><%= moment(featured[i].event_starts).format("MMMM Do YYYY") %></p>
                </div>
              </div>
              <div class="text-center mt-2">
                <div class="text-left">
                  <a href="/events/<%= featured[i].name %>"
                    class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Register</a>
                </div>
              </div>
            </div>
          </div>
          <% } %> 
        </div>     
      </div>
    </div>
  </div>
  <% } %> 

  <!--Live Events-->
  <% if (live.length > 0) { %> 
  <div id="live_events">
    <div class="mt-16 flex flex-col justify-center items-center wow fadeIn" data-wow-duration="1s"
      data-wow-delay="0.8s">

      <!-- Heading -->
      <div class="pt-3 mx-4 mt-12 h-auto">
        <div class="section-title text-center">
          <div class="m-auto line"></div>
          <div>
            <h3 class="text-4xl font-bold">Live <span class="font-normal"> Events</span></h3>
          </div>
        </div>
      </div>
      <div class="mt-5 mx-5">
        <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1"> 
          <% for (let i=0; i<live.length && i<4; i++) { %> 
          <div
            class="p-4 layered-card border-2 border-transparent hover:border-purple-300 bg-white transition ease-in max-w-xl rounded flex justify-start md:flex-row flex-col gap-4">
            <img
              src="<%= live[i].event_pic %>"
              class="rounded bg-contain justify-center items-center my-auto w-56 h-48" />
            <div class="relative">
            </div>
            <div class="flex flex-col space-y-8">
              <div class="text-black mt-1 top-1 md:m-0">
                <p class="text-2xl text-black leading-5 font-medium">
                  <%= live[i].name.length > 20 ? live[i].name.substring(0, 25) + "..." : live[i].name %> 
                </p>
              </div>
              <div>
                <div class="flex flex-row space-x-3">
                  <img src="https://img.icons8.com/plasticine/50/000000/calendar--v3.png" />
                  <p class="text-lg mt-2 font-medium"><%= moment(live[i].event_starts).format("MMMM Do YYYY") %> </p>
                </div>
                <div class="flex flex-row space-x-3 mt-1 ml-1">
                  <img src="https://img.icons8.com/ultraviolet/40/000000/clock--v1.png" />
                  <p class="text-lg mt-2 text-black font-medium">6:00 PM</p>
                </div>

              </div>
              <div class="text-center mt-2">
                <div class="text-left">
                  <a href="/events/<%= live[i].name %>"
                    class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Register</a>
                </div>
              </div>
            </div>
          </div>
          <% } %> 
        </div>
        <!-- button here -->
        <% if (live.length > 4) { %> 
          <div class="flex justify-center items-center">
            <a 
            href="/events/live/all"
            class="cursor-pointer inline-block font-semibold text-white duration-200 rounded-md mt-4 p-3 hover:shadow-xl bg-red-600 overflow-hidden">View All</a>
          </div>
          <% } %> 
      </div>
    </div>
  </div>
  <% } %> 

  <!-- Ongoing Events -->
  <% if (ongoing.length > 0) { %>
  <div id="ongoing">
    <div class="mt-16 flex flex-col justify-center items-center wow fadeIn" data-wow-duration="1.5s"
      data-wow-delay="0.5s">
      <!-- Heading -->
      <div class="pt-3 mx-4 mt-12 h-auto">
        <div class="section-title text-center">
          <div class="m-auto line"></div>
          <div>
            <h3 class="text-4xl font-bold">Ongoing <span class="font-normal"> Events</span></h3>
          </div>
        </div>
      </div>
      <div class="mt-5 mx-5">
        <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1">
          <% for(let i=0; i<ongoing.length && i<4; i++) { %>  
          <div
            class="p-4 layered-card border-2 border-transparent hover:border-indigo-400 bg-white transition ease-in max-w-xl rounded flex justify-start md:flex-row flex-col gap-4">
            <img
              src="<%= ongoing[i].event_pic %>"
              class="rounded bg-contain justify-center items-center my-auto w-56 h-48" />
            <div class="relative">
            </div>
            <div class="flex flex-col space-y-8">
              <div class="text-black mt-1 top-1 md:m-0">
                <p class="text-2xl text-black leading-5 font-medium">
                  <%= ongoing[i].name.length > 20 ? ongoing[i].name.substring(0, 25) + "..." : ongoing[i].name %>
                </p>
              </div>
              <div>
                <div class="flex flex-row space-x-3">
                  <img src="https://img.icons8.com/plasticine/50/000000/calendar--v3.png" />
                  <p class="text-lg mt-2 font-medium"><%= moment(ongoing[i].event_starts).format("MMMM Do YYYY") %></p>
                </div>
              </div>
              <div class="text-center mt-2">
                <div class="text-left">
                  <a href="/events/<%= ongoing[i].name %>"
                    class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Register</a>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <!-- button here -->
        <% if (ongoing.length > 4) { %> 
          <div class="flex justify-center items-center">
            <a 
            href="/events/ongoing/all"
            class="cursor-pointer inline-block font-semibold text-white duration-200 rounded-md mt-4 p-3 hover:shadow-xl bg-red-600 overflow-hidden">View All</a>
          </div>
          <% } %> 
      </div>
    </div>
  </div>
  <% } %> 

  <!-- Upcoming Events -->
  <% if (upcoming.length > 0) { %>
  <div id="upcoming">
    <div class="mt-16 flex flex-col justify-center items-center wow fadeIn" data-wow-duration="1.5s"
      data-wow-delay="0.5s">

      <!-- Heading -->
      <div class="pt-3 mx-4 mt-12 h-auto">
        <div class="section-title text-center">
          <div class="m-auto line"></div>
          <div>
            <h3 class="text-4xl font-bold">Upcoming <span class="font-normal"> Events</span></h3>
          </div>
        </div>
      </div>
      <div class="mt-5 mx-5">
        <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1">
          <% for (let i=0; i<upcoming.length && i<4; i++) { %> 
          <div
            class="p-4 layered-card border-2 border-transparent hover:border-blue-300 bg-white transition ease-in max-w-xl rounded flex justify-start md:flex-row flex-col gap-4">
            <img
              src="<%= upcoming[i].event_pic %>"
              class="rounded bg-contain justify-center items-center my-auto w-56 h-48" />
            <div class="relative">
            </div>
            <div class="flex flex-col space-y-8">
              <div class="text-black mt-1 top-1 md:m-0">
                <p class="text-2xl text-black leading-5 font-medium">
                  <%= upcoming[i].name.length > 20 ? upcoming[i].name.substring(0, 30) + "..." : upcoming[i].name %>
                </p>
              </div>
              <div>
                <div class="flex flex-row space-x-3">
                  <img src="https://img.icons8.com/plasticine/50/000000/calendar--v3.png" />
                  <p class="text-lg mt-2 font-medium"><%= moment(upcoming[i].event_starts).format("MMMM Do YYYY") %></p>
                </div>
              </div>
              <div class="text-center mt-2">
                <div class="text-left">
                  <a href="/events/<%= upcoming[i].name %>"
                    class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Register
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% } %> 
        </div>
        <!-- button here -->
        <% if (upcoming.length > 4) { %> 
          <div class="flex justify-center items-center">
            <a 
            href="/events/upcoming/all"
            class="cursor-pointer inline-block font-semibold text-white duration-200 rounded-md mt-4 p-3 hover:shadow-xl bg-red-600 overflow-hidden">View All</a>
          </div>
          <% } %> 
      </div>
    </div>
  </div>
  <% } %> 

  <!-- Past Events Carousel -->
  <% if (archived.length >= 3) { %> 
  <div id="archived" class="testimonial-area my-24 pt-22">
    <div class="container">
      <div class="justify-center row">
        <div class="w-full lg:w-2/3">
          <div class="pb-10 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-4xl font-bold">Archived<span class="font-normal"> Events</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row testimonial-active wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
        <% for (let i=0; i<archived.length && i<4; i++) { %> 
        <div
          class="relative hover:shadow-2xl mb-10 item transition-shadow duration-300 ease-in-out bg-white py-6 px-6 rounded my-4 ">
          <div class="mt-2">
            <p class="text-2xl text-black font-semibold"><%= archived[i].name.length > 20 ? archived[i].name.substring(0, 25) + "..." : archived[i].name %></p>
            <img class="rounded shadow-xl my-4 w-96 h-72" src="<%= archived[i].event_pic %>" alt="">
          </div>
          <div class="flex space-x-2 text-sm my-3">
            <p class="truncate"><%= archived[i].description %><a href="/events/<%= archived[i].name%>" class="text-red-300">Read More</a></p>
          </div>
          <div class="border-t-2"></div>
          <div class="flex justify-between">
            <div class="my-2">
              <span>
                <p class="font-bold text-base mb-2 text-left"><%= moment(archived[i].event_starts).format("MMMM Do YYYY") %></p>
              </span>
            </div>
            <div class="text-center mt-2">
              <div class="text-left">
                <a href="/events/<%= archived[i].name%>"
                  class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% if (archived.length > 4) { %> 
        <div class="flex justify-center items-center mt-8">
          <a 
          href="/events/archived/all"
          class="cursor-pointer inline-block font-semibold text-white duration-200 rounded-md mt-4 p-3 hover:shadow-xl bg-red-600 overflow-hidden">View All</a>
        </div>
        <% } %>
    </div>
  </section>
  <% } %>
  <% } else { %>
    <div class="text-center my-10">
      <span class="text-gray-500 text-3xl">
        Coming Soon!
      </span>
    </div>
    <% } %> 
</div>