<div id="organizers" class="flex justify-center items-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
  <div id="team_members" class="mt-10 w-full">
    <div class="flex flex-col justify-center items-center w-full">
      <div class="mb-4 section-title">
        <div class="mx-auto line"></div>
        <h1 class="text-3xl font-bold text-center">Organizers</h1>
      </div>
      <div class="mt-4 content-center mx-10 grid gap-8 lg:grid-cols-3 grid-cols-1">
        <!-- green border color is for team members -->
        <% let count = 0 %>
        <% for (const org of foundEvent.organizers) { %>
          <% if (org.name !== "" && org.name) { %>
          <div data-aos="fade-up"
            class="layered-card bg-white duration-200 border-2 rounded border-transparent hover:border-green-600">
            <div class="p-3">
              <div class="team-img relative">
                <img class="object-fit rounded h-72 w-96 image-fluid"
                  src="<%= org.pic %>"
                  alt="">
                <div class="team-overlay">
                  <ul class="flex justify-center space-x-2 text-2xl">
                    <li>
                      <a href="<%= org.fb_link %>">
                        <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="<%= org.ig_link %>">
                        <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="<%= org.in_link %>">
                        <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="text-center px-5 py-3 capitalize">
                <h3 class="team-name">
                  <%= org.name %>
                </h3>
                <p>
                  <%= org.designation %>
                </p>
              </div>
            </div>
          </div>
          <% } else { %>
            <% count = count + 1 %> 
          <% } %>
        <% } %>
      </div>
    </div>
    <% if (count === 4) { %>
      <div class="text-3xl mb-10 text-gray-400 text-center">
        No data available
      </div> 
    <% } %>  
  </div>
</div>