<section id="timeline" class="my-10 mx-5 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="flex flex-col justify-center">
      <div class="mb-4 section-title">
        <div class="mx-auto line"></div>
        <h1 class="text-4xl font-bold text-center">Workflow</h1>
      </div>
      <ul class="timeline">
        <!-- Registration Starts -->
        <li>
          <div class="direction-r border-2 border-transparent hover:border-red-300">
            <div class="flag-wrapper mt-2 px-2 py-2">
              <span class="hexa"></span>
              <span class="flag ml-2">Reg. Starts</span>
              <span class="time-wrapper text-lg"><span class="time"><%= moment(foundEvent.registration_starts).format("MMMM Do YYYY - hh:mm a") %></span></span>
            </div>
            <div class="px-4 pb-4 desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation deserunt
              proident.</div>
          </div>
        </li>

        <!-- Registration Ends -->
        <li>
          <div class="border-2 border-transparent hover:border-blue-300 direction-l">
            <div class="flag-wrapper mt-2 px-2 py-2">
              <span class="hexa"></span>
              <span class=" mr-2 flag">Reg. Ends</span>
              <span class="time-wrapper text-lg"><span class="time"><%= moment(foundEvent.registration_ends).format("MMMM Do YYYY - hh:mm a") %></span></span>
            </div>
            <div class="px-4 pb-4 desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation
              deserunt proident.</div>
          </div>
        </li>

        <!-- Event Starts -->
        <li>
          <div class="border-2 border-transparent hover:border-green-300 direction-r">
            <div class="flag-wrapper mt-2 px-2 py-2">
              <span class="hexa"></span>
              <span class=" ml-2 flag">Event Starts</span>
              <span class="time-wrapper text-lg"><span class="time"><%= moment(foundEvent.event_starts).format("MMMM Do YYYY - hh:mm a") %></span></span>
            </div>
            <div class="px-4 pb-4 desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation
              deserunt proident.</div>
          </div>
        </li>
        <!-- Event Ends -->
        <li>
          <div class="border-2 border-transparent hover:border-indigo-300 direction-l">
            <div class="flag-wrapper mt-2 px-2 py-2">
              <span class="hexa"></span>
              <span class=" mr-2 flag">Event Ends</span>
              <span class="time-wrapper text-lg"><span class="time"><%= moment(foundEvent.event_ends).format("MMMM Do YYYY - hh:mm a") %></span></span>
            </div>
            <div class="px-4 pb-4 desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation
              deserunt proident.</div>
          </div>
        </li>
        <!-- Result Declaration -->
        <li>
          <div class="border-2 border-transparent hover:border-pink-300 direction-r">
            <div class="flag-wrapper mt-2 px-2 py-2">
              <span class="hexa"></span>
              <span class=" flag">Result Decl.</span>
              <span class="time-wrapper text-lg"><span class="time"><%= moment(foundEvent.result_declaration).format("MMMM Do YYYY - hh:mm a") %></span></span>
            </div>
            <div class="px-4 pb-4 desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation
              deserunt proident.</div>
          </div>
        </li>

      </ul>
    </div>
  </section>