<header class="header-area">
  <div class="navbar-area ">
    <div class="container relative z-50">
      <div class="row">
        <div class="w-full">
          <nav class="flex items-center justify-between navbar navbar-expand-lg">
            <a class="mr-4 navbar-brand" href="/">
              <span class="navbar-brand-name text-white text-4xl font-semibold">E-Cell</span>
            </a>
            <button class="block navbar-toggler focus:outline-none lg:hidden" type="button" data-toggle="collapse"
              data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <% if(title === "E-Cell | Home") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#about">About</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#features">Features</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#facts">Why</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#team">Team</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200" href="#testimonial">Testimonial</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#contact" rel="nofollow">Contact Us</a>
            </div>
            <% } else if(title === "E-Cell | Credits") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/staff-login">Login</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/staff-register">Register</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#feedback" rel="nofollow">Feedback</a>
            </div>
            <!-- Live Events -->
            <% } else if(title === "E-Cell | Live Events") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/upcoming/all">Upcoming</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/ongoing/all">Ongoing</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/archived/allr">Archived</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="inline-block px-5 scroll-page font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#suggest" rel="nofollow">Suggest</a>
            </div>

            <!-- upcoming events -->
            <% } else if(title === "E-Cell | Upcoming Events") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/live/all">Live</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/ongoing/all">Ongoing</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/archived/allr">Archived</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="inline-block px-5 scroll-page font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#suggest" rel="nofollow">Suggest</a>
            </div>
            <!-- ongoing events -->
            <% } else if(title === "E-Cell | Ongoing Events") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/live/all">Live</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/upcoming/all">Upcoming</a>
                </li> 
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/archived/all">Archived</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="inline-block scroll-page px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#suggest" rel="nofollow">Suggest</a>
            </div>
            <% } else if(title === "E-Cell | Archived Events") { %> 
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/live/all">Live</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/ongoing/all">Ongoing</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events/upcoming/all">Upcoming</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="inline-block px-5 scroll-page font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#suggest" rel="nofollow">Suggest</a>
            </div>
            <% } else if(title === "E-Cell | Events") { %>
              <div
                class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
                id="navbarOne">
                <ul id="nav"
                  class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                  <li class="nav-item md:pb-2 active text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                  </li>
                  <% if (featured.length > 0) { %> 
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#feature">Featured</a>
                  </li>
                  <% } %>
                  <% if (live.length > 0) { %> 
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#live_events">Live</a>
                  </li>
                  <% } %>
                  <% if (ongoing.length > 0) { %>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#ongoing">Ongoing<a>
                  </li>
                  <% } %>
                  <% if (upcoming.length > 0) { %>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#upcoming">Upcoming</a>
                  </li>
                  <% } %>
                  <% if (archived.length > 2) { %>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#archived">Archived</a>
                  </li>
                  <% } %>
                </ul>
              </div>
              <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
                <a class="inline-block scroll-page px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                  data-scroll-nav="0" href="#suggest" rel="nofollow">Suggest</a>
              </div>
            <% } else if (title.length > "E-Cell | Events".length && title.substring(0, 15) === "E-Cell | Events") { %>
            <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#aboutEvent">About</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#timeline">Workflow</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#hosts">Hosts</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#sponsors">Sponsors</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#organizers">Organizers</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#event-registration">Register</a>
            </div>
            <% } else if (title === "E-Cell | Departments") { %>
              <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="text-white items-center mr-auto lg:justify-end relative inline-block capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/events">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#footer">Links</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/staff-login">Login</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/staff-register">Register</a>
                </li>

              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#subscribe">Subscribe</a>
            </div>
            <% } else if (title.length > "E-Cell | Departments".length && title.substring(0, 20) === "E-Cell | Departments") { %>
            <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/departments">Departments</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#about">About</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#vision">Vision</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#team">Members</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#footer">Links</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#internship">Join Us</a>
            </div>
            <% } %>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div id="home" class="header-hero relative sm:h-screen">
    <svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,192L48,202.7C96,213,192,235,288,208C384,181,480,107,576,106.7C672,107,768,181,864,186.7C960,192,1056,128,1152,138.7C1248,149,1344,235,1392,277.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
    <div class="w-full h-screen z-50">
      <div class="container flex w-full flex-col justify-center">
        <div class="justify-center row">
          <div class="w-full lg:w-2/3">
            <% if (title === "E-Cell | Home") { %>
            <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
              <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.2s">
                Guru Nanak Dev Engineering College
              </h3>
              <h2 class="text-3xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.5s">Entrepreneurship Cell</h2>
              <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                "Don't let the
                noise of other's opinions drown out your own inner voice.(Department Tagline)"
                <br>- Steve Jobs
              </p>
              <a href="#about"
                class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
            </div>
            <!-- Live events -->
            <% } else if (title === "E-Cell | Live Events") { %>
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">
                  Live Events
                </h3>
                <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Live Events at E-Cell</h2>
                <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "Don't let the
                  noise of other's opinions drown out your own inner voice.(Department Tagline)"
                  <br>- Steve Jobs
                </p>
              </div>
             <!-- upcoming events -->
             <% } else if (title === "E-Cell | Upcoming Events") { %>
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">
                  Upcoming Events
                </h3>
                <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Upcoming Events at E-Cell</h2>
                <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "Don't let the
                  noise of other's opinions drown out your own inner voice.(Department Tagline)"
                  <br>- Steve Jobs
                </p>
              </div>
             <!-- ongoing events -->
             <% } else if (title === "E-Cell | Ongoing Events") { %>
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">
                  Ongoing Events
                </h3>
                <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Ongoing Events at E-Cell</h2>
                <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "Don't let the
                  noise of other's opinions drown out your own inner voice.(Department Tagline)"
                  <br>- Steve Jobs
                </p>
              </div>
               <!-- archived events -->
             <% } else if (title === "E-Cell | Archived Events") { %>
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">
                  Archived Events
                </h3>
                <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Archived Events at E-Cell</h2>
                <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "Don't let the
                  noise of other's opinions drown out your own inner voice.(Department Tagline)"
                  <br>- Steve Jobs
                </p>
              </div>
            <% } else if (title === "E-Cell | Credits") { %>
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">
                  Welcome to our Team Section
                </h3>
                <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Techie Whiz</h2>
                <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "If you can dream it, We can design it"
                </p>
                <a href="#team"
                  class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
              </div>
            <% } else if (title === "E-Cell | Events") { %>
            <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
              <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.2s">
                Entrepreneurship Cell
              </h3>
              <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.5s">Events</h2>
              <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                "Don't let the
                noise of other's opinions drown out your own inner voice.(Department Tagline)"
                <br>- Steve Jobs
              </p>
              <a href="#feature"
                class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
            </div>
            <% } else if (title.length > "E-Cell | Events".length && title.substring(0, 15) === "E-Cell | Events") { %> 
            <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
              <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.2s">
                Entrepreneurship Cell
              </h3>
              <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.5s"><%= foundEvent.name %> </h2>
              <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                <%= foundEvent.tagline %>
              </p>
              <a href="#aboutEvent"
                class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
            </div>
            <% } else if (title === "E-Cell | Departments") { %>
            <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
              <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.2s">
                Entrepreneurship Cell
              </h3>
              <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.5s">Departments</h2>
              <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                "Don't let the
                noise of other's opinions drown out your own inner voice.(Department Tagline)"
                <br>- Steve Jobs
              </p>
              <a href="#allDepartments"
                class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
            </div>
            <% } else if (title.length > "E-Cell | Departments".length && title.substring(0, 20) === "E-Cell | Departments") { %>
            <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
              <h3 class="text-3xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.2s">
                Entrepreneurship Cell
              </h3>
              <h2 class="text-4xl my-4 font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.5s"><%= foundDept.name %></h2>
              <p class="mb-8 text-white text text-lg wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                <%= foundDept.tagline %>
              </p>
              <a href="#about"
                class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="1.1s">Explore</a>
            </div>
            <% } %>  
          </div>
        </div>
        <% if (title.length > "E-Cell | Events".length && title.substring(0, 15) === "E-Cell | Events") { %> 
        <div class="justify-center row z-50">
          <div class="w-full lg:w-2/3">
            <div class="text-center header-hero-image wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
              <img class="rounded-lg object-fit h-96 w-full mx-auto" src="<%= foundEvent.event_poster %>" alt="hero">
            </div>
          </div>
        </div>
        <% } else { %>
        <div class="justify-center row z-50">
          <div class="w-full lg:w-2/3">
            <div class="text-center header-hero-image wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
              <% if (title === "E-Cell | Credits") { %>
              <img class="rounded-lg mx-auto h-2/3 w-2/3" src="/img/credits_page_4.svg" alt="hero">
              <% } else if (title.length > "E-Cell | Departments".length && title.substring(0, 20) === "E-Cell | Departments") { %>
              <img class="rounded-lg" src="<%= foundDept.pic %>" alt="hero">
              <% } else { %>
                <img class="rounded-lg" src="/img/hero-steve.jpg" alt="hero"> 
              <% } %>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
      <div id="particles-1" class="particles"></div>
    </div>
</header> 