<!-- department page which has all 9 departments -->
<!doctype html>
<html lang="en"> 

<head>
  <%- include("./partials/head-links.ejs") %> 
</head>

<body>
  <!-- header + navbar -->
  <%- include("./sections/header-nav.ejs") %> 

  <!-- All Departments -->
  <%- include("./sections/all-departments.ejs") %> 
  <!-- All Departments -->

  <!-- Footer Section -->
  <footer id="footer" class="relative z-10 footer-area pt-2">
    <div class="footer-bg" style="background-image: url(/img/footer-bg.svg);"></div>
    <div class="container">
      <!-- Newsletter Section -->
      <%- include("./sections/magazine-form.ejs") %> 
      <!-- Newsletter Section -->
      
      <!-- Footer Links -->
      <%- include("./sections/footer-links.ejs") %> 
      <!-- Footer Links -->

      <!-- Credits -->
      <%- include("./sections/footer-credits.ejs") %> 
      <!-- Credits -->
    </div>
    <div id="particles-2" class="particles"></div>
  </footer>
  <!-- Footer Section -->

  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  <!-- Scripts -->
  <%- include("./partials/scripts.ejs") %>
    <script>
      function convertFD2JSON(formData) {
          let obj = {};
          for (let key of formData.keys()) {
              obj[key] = formData.get(key);
          }
          return obj;
      }
      document.querySelector("form").addEventListener("submit", handleForm);
      function handleForm(ev) {
          ev.preventDefault();
          let myForm = ev.target;
          fetch("/", {
              body: JSON.stringify(convertFD2JSON(new FormData(myForm))),
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              }
          }).then((some) => { return some.json() })
          .then(async (res) => {
            // Response status - 200
          })
          .catch((err) => {
            // Error response
            // If your status code isnt 200 then it means its an error and will be catched by .catch
          })
      }
  </script>
  <!-- ./Scripts -->
</body>

</html>