<!-- Event Landing Page -->
<!doctype html>
<html class="no-js" lang="en">

<head>
  <%- include("./partials/head-links.ejs") %>
</head>

<body>
  <!-- header + navbar -->
  <%- include("./sections/header-nav.ejs") %>

  <!-- Event Description Section -->
  <%- include("./sections/event-description.ejs") %> 

  <!-- timeline -->
  <%- include("./sections/event-timeline.ejs") %> 
 
  <!-- hosts -->
  <%- include("./sections/event-hosts.ejs") %> 
  <!-- sponsors -->
  <%- include("./sections/event-sponsors.ejs") %> 
  <!-- organizers -->
  <%- include("./sections/event-organizers.ejs") %> 



  <!-- Footer Section -->
  <footer id="footer" class="relative z-10 footer-area pt-2">
    <div class="footer-bg" style="background-image: url(/img/footer-bg.svg);"></div>
    <div class="container">
      <!-- Event Registration -->
      <%- include("./sections/event-registration.ejs") %> 
    <!-- Event Registration -->
      
      <!-- Footer Links -->
      <%- include("./sections/footer-links.ejs") %> 
      <!-- Footer Links -->

      <!-- Credits -->
      <%- include("./sections/footer-credits.ejs") %> 
      <!-- Credits -->
    </div>
    <div id="particles-2" class="particles"></div>
  </footer>
  <!-- Footer Section --> 

  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  <!-- Scripts -->
  <%- include("./partials/scripts.ejs") %> 
   <!-- Scripts -->
   
   <script>
    // let foundEventName = document.querySelector("#testg1").innerHTML;
    // console.log(foundEventName)
    // console.log(`/events/${foundEventName}`)
    function convertFD2JSON(formData) {
            let obj = {};
            formData.forEach(function(value, key) {
                obj[key] = value;
            })
            return obj;
        }
        document.querySelector("form").addEventListener("submit", handleForm);
        function handleForm(ev) {
            ev.preventDefault();
            let myForm = ev.target;
            fetch(`/events/<%- foundEvent.name %>`, {
                body: JSON.stringify(convertFD2JSON(new FormData(myForm))),
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                }
            })
            .then((some) => { return some.json() })
            .then(async (res) => {
                  document.querySelector('form').reset();
                  console.log(res)
                  // instanciate new modal
                  var modal = new tingle.modal({
                      footer: true,
                      stickyFooter: false,
                      closeMethods: ['button', 'escape', 'overlay'],
                      closeLabel: "Close",
                      cssClass: ['custom-class-1', 'custom-class-2'],
                  });
  
                  // set content
                  modal.setContent( `<h1> ${res.message} </h1>` );
      
  
                  // add button
                  modal.addFooterBtn('close', 'tingle-btn tingle-btn--primary tingle-btn--pull-right', function() {
                      // here goes some logic
                      modal.close();
                  });

                  modal.open()
                
            })
            .catch((err) => {
                // instanciate new modal
                var modal = new tingle.modal({
                      footer: true,
                      stickyFooter: false,
                      closeMethods: ['button', 'escape'],
                      closeLabel: "Close",
                      cssClass: ['custom-class-1', 'custom-class-2'],
                  });
  
                  // set content
                  modal.setContent( `<h1> ${res.message} </h1>` );
      
  
                  // add button
                  modal.addFooterBtn('close', 'tingle-btn tingle-btn--dange tingle-btn--pull-right', function() {
                      // here goes some logic
                      modal.close();
                  });

                  modal.open()
            })
        }
        
  </script>    
</body>

</html>