<!-- Event Landing Page -->
<!doctype html>
<html class="no-js" lang="en">

<head>
  <%- include("./partials/head-links.ejs") %>
</head>

<body>
  <!-- header + navbar -->
  <%- include("./sections/header-nav.ejs") %>

  <!-- Event Description Section -->
  <%- include("./sections/event-description.ejs") %> 

  <!-- timeline -->
  <%- include("./sections/event-timeline.ejs") %> 
 
  <!-- organizers -->
  <%- include("./sections/event-organizers.ejs") %> 

  <!-- Footer Section -->
  <footer id="footer" class="relative z-10 footer-area pt-2">
    <div class="footer-bg" style="background-image: url(/img/footer-bg.svg);"></div>
    <div class="container">
      <%- include("./sections/event-registration.ejs") %> 
      <!-- Newsletter Section -->
      <!-- Newsletter Section -->
      
      <!-- Footer Links -->
      <%- include("./sections/footer-links.ejs") %> 
      <!-- Footer Links -->

      <!-- Credits -->
      <%- include("./sections/footer-credits.ejs") %> 
      <!-- Credits -->
    </div>
    <div id="particles-2" class="particles"></div>
  </footer>
  <!-- Footer Section --> 

  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  <!-- Scripts -->
  <%- include("./partials/scripts.ejs") %> 
        
</body>

</html>